<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../public/assets/css/facechat.css">
    <title>Assistente API</title>
</head>
<body>
    <div class="footer">
        <a href="../chatsHistBrasil/historiabrasil.html"><button class="voltar">Voltar</button></a>
        <a href="../../views/index.html"><button class="home"><img src="../../../public/assets/img/his_casa.png" width="70px" height="70px"></button></a>
    </div>
    <div id="app"></div>

    <!-- Importando o script.js -->
    <script src="../../public/assets/js/chamarchat.js"></script>

    <script>
        // Chama a função para criar a interface quando a página carregar
        window.onload = function() {
            criarInterfaceAPI();  // Cria a interface

            // Define uma mensagem padrão e a insere no campo de entrada
            const mensagemPadrao = "Olá chat, (se apresente como Sabius) eu quero saber rapidamente de uma forma resumida e facil de entender, como foi a Colonização do Brasil.";
            document.getElementById('entrada').value = mensagemPadrao;
            enviarPergunta();  // Envia a mensagem padrão assim que a página carrega
        };
    </script>
</body>
</html>

