<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/materia.css">
    <title>ESCOLHA SUA MATÉRIA</title>

</head>
<body>
    <header>
        <img class="lgSabius" src="../../public/assets/img/logo_sabius.gif" width=398px height=247px>
        <div class="homedv"><a href="../views/index.html"><button class="home"><img src="../../public/assets/img/home__imagem.png" width="70px" height="70px"></button></a></div>
    </header>    
    <h1>ESCOLHA SUA MATÉRIA</h1>
    <div class="container">    
        <a href="../views/assunto.html"><button class="historia">HISTÓRIA</button></a>
        <a href="../views/erro.html"><button class="portugues">PORTUGUÊS</button></a>
        <a href="../views/erro.html"><button class="filosofia">FILOSOFIA</button></a>
        <a href="../views/erro.html"><button class="geografia">GEOGRAFIA</button></a>
    </div>
</body>
</html>