<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/quiz.css">
    <title>Questionário ENEM - História</title>
</head>
<body>
    <h1>Questionário ENEM - História</h1>
    <div class="main">
        <h2 id="pergunta"></h2>
        <div id="alternativas"></div>
        <button class="cta" onclick="proximaPergunta()">
        <span>próxima pergunta</span>
        <svg width="15px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
        </button>
        <button class="cta2" onclick="voltarPergunta()">
            <span>voltar pergunta</span>
            <svg width="15px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
            </button>
   </div>
    <script src="../../public/assets/js/quiz.js"></script>
    <script src="../../public/assets/js/ranking.js"></script>
</body>
</html>
