<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../public/assets/css/histGeral.css">
    <title>HISTORIA GERAL</title>
</head>
<body>
    <header>
        <img class="fundo_his" src="../../../public/assets/img/logo_his.gif"width=398px height=247px>
        <div class="homedv"><a href="../../views/index.html"><button class="home"><img src="../../../public/assets/img/his_casa.png" width="70px" height="70px"></button></a></div>    
    </header>
    <h1>ESCOLHA O TÓPICO</h1>
    <div class="container">
        <a href="../chatsHistGeral/facechatIM.html"><button>IDADE MÉDIA</button></a>
        <a href="../chatsHistGeral/facechatRRF.html"><button>RENASCIMENTO E REFORMA PROTESTANTE</button></a>
        <a href="../chatsHistGeral/facechatRIF.html"><button>REVOLUÇÕES INGLESAS E FRANCESAS</button></a>
        <a href="../chatsHistGeral/facechatIRI.html"><button>ILUMINISMO E REVOLUÇÕES INDUSTRIAIS</button></a>
        <a href="../chatsHistGeral/facechatGM.html"><button>GUERRAS MUNDIAIS</button></a>
        <a href="../chatsHistGeral/facechatGF.html"><button>GUERRAS FRIAS</button></a>
    </div>
    
</body>
</html>
